.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
}

.title {
  color: var(--main-color);
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 32px;
}

.text {
  margin-bottom: 16px;
  font-weight: 400;
  text-align: center;
}

.errorBtn {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
